@import url("./row.css");
@import url("./lobby.css");
@import url("./room.css");
@import url("./button.css");

* {
	font-family: sans-serif;
}

body {
	/*align-items:     center;*/
	/*display:         flex;*/
	/*flex-direction: column;*/
	height:          100vh;
	/*justify-content: center;*/
	margin:          0;
	/*overflow:        hidden;*/
	padding:         0;
	width:           100vw;
	background:      url("/assets/images/background.jpg");
}

h1 {
	color:      #36393f;
	font-size:  2rem;
	margin:     0 0 20px;
	text-align: center;
}

#background {
	background: rgb(28, 245, 77);
	background: linear-gradient(0deg, rgba(28, 245, 77, 1) 0%, rgba(18, 109, 155, 1) 20%, rgba(18, 109, 155, 1) 90%, rgba(0, 0, 0, 1) 100%);
	height:     100vh;
	left:       0;
	position:   absolute;
	top:        0;
	width:      100vw;
}

/*#night {*/
/*	background: rgb(28, 245, 77);*/
/*	background: linear-gradient(0deg, rgba(18, 109, 155, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 100%);*/
/*	height:     100vh;*/
/*	left:       0;*/
/*	position:   absolute;*/
/*	top:        -100vh;*/
/*	width:      100vw;*/
/*}*/

#content {
	align-content:  center;
	background:     rgba(255, 255, 255, 0.8);
	border:         10px solid black;
	border-radius:  20px;
	box-shadow:     0 0 20px rgba(0, 0, 0, 0.5);
	display:        flex;
	flex-direction: column;
	height:         80vh;
	padding:        20px;
	position:       relative;
	width:          80vw;
}

/*.dialog-body label {*/
/*	display: block;*/
/*}*/

/*#new-game {*/
/*	background:    #556cff;*/
/*	border:        0;*/
/*	border-radius: 20px;*/
/*	box-shadow:    0 0 20px rgba(0, 0, 0, 0.5);*/
/*	color:         white;*/
/*	cursor:        pointer;*/
/*	font-size:     1.5rem;*/
/*	font-weight:   bold;*/
/*	outline:       none;*/
/*}*/

/*#new-game:hover {*/
/*	background: white;*/
/*	color:      #556cff;*/
/*}*/

/*.to-night {*/
/*	animation: night 5s forwards;*/
/*}*/

/*.from-night {*/
/*	animation: night 5s backwards;*/
/*}*/

/*.dialog-content {*/
/*	align-items:    center;*/
/*	display:        flex;*/
/*	flex-direction: column;*/
/*}*/

/*.dialog-body {*/
/*	display:        flex;*/
/*	flex-direction: column;*/
/*	!* align-items: center; *!*/
/*	margin-bottom:  10px;*/
/*	margin-top:     10px;*/
/*}*/

/*.dialog-footer {*/
/*	display:         flex;*/
/*	flex-direction:  row;*/
/*	justify-content: space-between;*/
/*	width:           100%;*/
/*}*/

/*@keyframes night {*/
/*	0% {*/
/*		top: -100vh;*/
/*	}*/
/*	100% {*/
/*		top: 0;*/
/*	}*/
/*}*/
